<!DOCTYPE html>
<html ng-app="indexModule">
<head>
	<title>Recipes</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="../Global/normalize.css"/>
	<link rel="stylesheet" type="text/css" href="recipes.css">
	<link rel="stylesheet" type="text/css" href="../Global/globalLayout.css">
</head>
<body ng-controller="RecipesController">
	<div  id ="header">
		<img class="header-img general-page-layout" src="http://placehold.it/900x150">

		<div ng-controller="headerController" ng-class = "{'full-width-nav' : state}" class="nav-bar general-page-layout">
			<ul class="nav-list">
				<a href="file:///Users/student/Projects/BackYardBrewing/home/index.html" class="nav-links"><li class="nav-list-items left-edge-list-item">Home</li></a>
				<a href="#" class="nav-links"><li class="nav-list-items">The Basics</li></a>
				<a href="file:///Users/student/Projects/BackYardBrewing/Recipes/index.html" class="nav-links"><li class="nav-list-items">Recipes</li></a>
				<a href="#" class="nav-links"><li class="nav-list-items">Forums</li></a>
				<a href="#" class="nav-links"><li class="nav-list-items right-edge-list-item">Join us!</li></a>
			</ul>
		</div>
	</div>
	<div class="page-content general-page-layout">
		<div id="search-bar">
			<button class="page-prev page-change-buttons">Prev</button>
			<!-- <button ng-class = "{'change-color' : state}"></button> -->
			<button class="page-next page-change-buttons">Next</button>
			<label class="search-box-label">Search: </label><input class="search-box" ng-model="userQuery"></br>
		</div>

		<div ng-show="lightBoxState" ng-class="{'light-box' : lightBoxState}">
			<button ng-click="lightBoxOff()" class="light-box-close-button">X</button>
			<div class="light-box-content">
			
			<h1>{{lightBox.alias}}</h1>
			<h3>Description</h3>
			<p>{{lightBox.about}}</p>
	
			</div>
		</div>

	
		<div ng-repeat="beer in beerTypes | filter: userQuery | orderBy:'-alias':true" ng-click="lightBoxOn(beer)">
			<ul class="beer-list">
				<a class="beer-links" href="#"><li class="beer-list-items">{{beer.alias}}</li></a>
			</ul>
		</div>
	</div>
	<script src="../Global/AngularGlobal.js" type="text/javascript"></script>
	<script src="../Global/JavaScriptGlobal.js" type="text/javascript"></script>
</body>
</html>