#brewingEquipmentMap { 
	top: 140px;
	position: relative;
	border: 1px solid gray;
	border-radius: 7px;
	width: 600px;
	height: 400px; 
	left: 1%;
	opacity: 0.9;
}


/*==================
GLOBAL MAP ASSOCIATED LIST CONTAINER
===================*/
.map-helper-container{
	position: relative;
	left: 10%;
}



/*================
   MEDIA QUERIES
================*/  
@media screen and (max-width: 1200px){
	#brewingEquipmentMap{
		width: 500;
	}
}

@media screen and (max-width: 925px){
	#brewingEquipmentMap{
		left: 4%;
	}
	.map-helper-container{
		left: 4%;
	}
	.global-beer-box{
		left: 0%;
	}
}

@media screen and (max-width: 350px){
	#brewingEquipmentMap { 
		width: 290px;
		height: 300px; 
	}
}