<div ng-controller="theBasicsController" class="container">
	<div class="row">
		<div class="col-xs-12 global-page-layout">
			<button ng-click="body.activateNightMode()">night mode</button>
			<h1>What and Where</h1>
			<div class="map-helper-container">
				<ul class="global-maps-list">
					<button class="global-maps-buttons" ng-class="{'night-time-global-maps-button': body.nightMode} "ng-class="{'active-global-maps-list-items': ingredientsState}" ng-click="activateTab(1)"><li>	
					Ingredients
					</li></button>
					<button class="global-maps-buttons" ng-class="{'night-time-global-maps-button': body.nightMode} "ng-class="{'active-global-maps-list-items': equipmentState}" ng-click="activateTab(2)"><li class="global-maps-list-items">
					Equipment
					</li></button>
				</ul>
				<div class="global-beer-box">
					<div ng-show="ingredientsState">
						<accordion>
						  <accordion-group ng-repeat="ingredient in ingredients"heading="{{ingredient.alias}}">{{ingredient.description}}
						  </accordion-group>	
						</accordion>
					</div>	
					<div ng-show="equipmentState">
						
					</div>
				</div>
			</div>
			<div id="brewingEquipmentMap" ng-init="initMap()"></div>
		</div>
	</div>
</div>