*{
	box-sizing: border-box;
}
/*===============
	body
 ===============*/
body{
	margin:0;
	font-size: 15px;
}

/*===============
	Header
 ===============*/
.header-img{
	width: 100%;
}



/*===============
 	navigation
 ===============*/
.general-page-layout{
	position: relative;
	margin: 0 auto; 
}

.nav-bar{
	position: static;
	width: 900px;
	transition: all .1s;
	left: 25%;
}
 
.nav-list{
	padding: 0px;
	float: none;
	background-color: #C2A47E;
}



.nav-list-items{
	text-align: center;
	width: 20%;
	padding: 12px 0px 12px 0px;
	display: inline-block;
	float: left;
	border-right: 1px solid #8A4E29;
	border-left: 1px solid #8A4E29;
	background: linear-gradient(to right, #C2A47E 50%, #8A4E29 50%);
	background-size: 200%;
	background-position: left bottom;
	transition: background .5s ease;
}


.nav-links{
	text-decoration: none;
 	color: white;
}

.nav-list-items:hover{
	background-position:right bottom;
}

.left-edge-list-item{
	margin: 0px;
	border-left: 2px solid #8A4E29;
}

.right-edge-list-item{
	border-right: 2px solid #8A4E29;
}


/*===================
 MAIN PAGE CONTENT
 ===================*/
.page-content{
	position: static;
	left: 10%;
	background-color: #8A4E29;
	color: #E6E6E6; 
	width: 850px;
	padding: 5px 40px 30px;
	margin-top: 75px;
	overflow: hidden;
}


/*===============
 NAV-BAR FULL WIDTH
=================*/

.nav-bar.full-width-nav{
	transition: all 4s;
	margin: 0px;
	top: 0px;
	width: 100%;
	left: 0%;
	position: fixed;
	z-index: 1;
}

.full-width-nav .nav-list{
	margin: 0px;
}


/*===================
 MEDIA QUERIES
 ===================*/
@media screen and (max-width: 925px){
	.nav-bar{
		font-size: 14px;
		width: 800px;
	}
	.page-content{
		width: 750px;
	}

}

@media screen and (max-width: 825px){
	.nav-bar{
		font-size: 13px;
		width: 700px;
	}
		.page-content{
		width: 650px;
	}
}

@media screen and (max-width: 725px){
	.nav-bar{
		font-size: 13px;
		width: 600px;
	}
		.page-content{
		width: 550px;
	}
}

@media screen and (max-width: 625px){
	.nav-bar{
		font-size: 11px;
		width: 500px
	}
		.page-content{
		width: 450px;
	}
}

@media screen and (max-width: 525px){
	.nav-bar.full-width-nav{
	width: 100%;
	position: relative;
	}

	.header-img{
		display: none;
	}
	.nav-bar{
		top: 0px;
		width: 100%;
		text-align: center;
		font-size: 15px;
	}
	.nav-list{
		margin: 0px;
	}
	.nav-list-items{
		background: linear-gradient(to right, #C2A47E 50%, #C2A47E 50%);
		width: 100%;
		position: relative;
		display: block;
		float: none;
		border: none;
	}

	.page-content{
		width: 100%;
	}
}