*{
	box-sizing: border-box;
}
/*===============
	body
 ===============*/
body{
	margin:0;
	background-color: #715540;
	font-size: 15px;
}


/*===============
 	navigation
 ===============*/
.general-page-layout{
	display: block;
	position: relative;
	margin: 0 auto;
	width: 900px;
}
 
.nav-list{
	padding: 0px;
	float: none;
	background-color: #C2A47E;
	position: relative;
}

.nav-list-items{
	text-align: center;
	width: 20%;
	padding: 12px 0px 12px 0px;
	display: inline-block;
	float: left;
	border-right: 1px solid #715540;
	border-left: 1px solid #715540;
	background: linear-gradient(to right, #C2A47E 50%, #715540 50%);
	background-size: 200%;
	background-position: left bottom;
	transition: all .5s ease;
}


.nav-links{
	text-decoration: none;
	background-color:;
 	color: white;
}

.nav-list-items:hover{
	background-position:right bottom;
}

.left-edge-list-item{
	margin: 0px;
	border-left: 2px solid #715540;
}

.right-edge-list-item{
	border-right: 2px solid #715540;
}

/*===================
 MAIN PAGE CONTENT
 ===================*/
.page-content{
	color: #E6E6E6; 
	width: 850px;
	margin-top: 75px;
}
@media