#map { 
	width: 600px;
	height: 400px; 
	opacity: 0.9;
	left: 12%;
}

/*================
   MEDIA QUERIES
================*/   
@media screen and (max-width: 925px){
	#map{
		left: 7%;
	}
}
@media screen and (max-width: 825px){
	#map{
		height: 400px;
		width: 550px;
		left: 4%;
	}	
}
@media screen and (max-width: 725px){
	#map{
		height: 350px;
		width: 500px;
		left: 1%;
	}
}
@media screen and (max-width: 625px){
	#map{
		height: 300px;
		width: 420px;
		left: 0%;
	}
}
@media screen and (max-width: 525px){
	#map{
		left: 4%;
	}
}

@media screen and (max-width: 485px){
	#map{
		left: 3%;
	}
}

@media screen and (max-width: 470px){
	#map{
		left: 2%;
	}
}

@media screen and (max-width: 460px){
	#map{
		left: 1%;
	}
}

@media screen and (max-width: 450px){
	#map{
		left: 0%;
	}
}

@media screen and (max-width: 440px){
	#map{
		width: 400px;
		left: 1%;
	}
}

@media screen and (max-width: 430px){
	#map{
		width: 375px;
		left: 2.7%;
	}
}

@media screen and (max-width: 410px){
	#map{
		width: 375px;
		left: 2%;
	}
}

@media screen and (max-width: 405px){
	#map{
		width: 375px;
		left: 1%;
	}
}