.testing:hover{
	color: #872d2e;
}
#temp{
	position: absolute;
}
#eventMap { 
	position: relative;
	border: 1px solid white;
	border-radius: 5px;
	width: 100%;
	height: 500px; 
}

.events{
	background-color: white;
	position: relative;
	overflow: auto;
	width: 33%;
	height: 500px;
	border: 1px solid white;
	border-radius: 5px;
}

.eventTitles{
	display: inline;
}

/*=====================
	MEDIA QUERIES
=====================*/

@media screen and (max-width: 990px){
	.events{
		margin: 10px;
		width: 96%;
	}
	#eventMap{
		margin-bottom: 90px;
	}
}
