<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<p class="error" ng-show="hasError">{{err}}</p>
			<form ng-submit="createRecipe()">
				<label>Beer Name</label></br>
				<input ng-model="recipe.alias"></br>
				<label>Category</label></br>
				<select ng-options="beer.alias as beer.alias for beer in beerTypes" ng-model="recipe.selectedCategory" ng-change="filterByCategory(selectedCategory)">
				</select></br>
				<label>Description</label></br>
				<textarea ng-model="recipe.description" cols="50" rows="5" class="input-box"></textarea></br>
				<label>Instructions</label></br>
				<textarea ng-model="recipe.instructions" cols="50" rows="5" class="input-box"></textarea></br>
				<input type="submit" class="button-color btn btn-default"></br>
			</form>
		</div>
	</div>
</div>
