<!-- LIGHT BOX -->
<div class="container">
	<script type="text/ng-template" id="recipeModal.html">
            <button class="btn btn-default close-btn button-color" type="button" ng-click="cancel()">x</button>
        <div class="modal-header">
            <h3 class="modal-title"><u>{{beer.alias}}</u></h3>
            <h5> <b>STYLE:</b> {{beer.style}} <b class="abv">ABV:</b> {{beer.abv}} </h5><br>
            <p>{{beer.about}}</p>
        </div>
        <div class="modal-body">
        	<h3><u>User Recipes</u></h3>
 			<div ng-repeat="recipe in recipes">	
				<h3>{{recipe.alias}}</h3>
				<button class="beer-links btn btn-sm btn-default more-info" ng-click="recipeInfo(recipe._id)">More Info</button>
			</div>	
        </div>
    </script>

<!-- SEARCH BAR -->
	<div class="row">
		<div class="recipe-side-nav col-lg-12">
		<div class="global-search-box">
			<input ng-change="Paginate.checkUserQuery(this)"class="global-search-bar" ng-model="userQuery" placeholder="Search Beers"></br>
		</div>
			<div class="pagination-bar">
					<button ng-show="screenSize" class="btn btn-sm btn-default button-color" ng-click="Paginate.moveListBackward(this)">Prev</button>

					<button ng-repeat="page in pagination | limitTo: shownPages : startingElement - 1" class="btn btn-group btn-default button-padding button-color" role="group" ng-class="{'recipe-active-page' : page.state}" ng-click="changePage(page)">{{page.number}}</button>

					<button ng-show="screenSize" class="btn btn-sm btn-default button-color" ng-click="Paginate.moveListForward(this)">Next</button>
				<button ng-click="isLoggedIn()" class="btn btn-default submit-recipe button-color" target="_blank">Submit a Recipe!</button>
			</div>
		</div>	

		<!-- BEER LIST -->		
		<div class="col-lg-12">
			<div  ng-repeat="beer in beerTypes | filter: userQuery | orderBy:'-alias':true | limitTo: beersPerPage : (pageNumber-1) * beersPerPage">
				<ul ng-submit="getRecipes(beer)" class="beers ">
					<button ng-click="pass('lg', beer)" class="btn btn-default recipe-layout beer-links button-color"><li>{{beer.alias}}</li></button>
				</ul>
			</div>
		</div>
	</div>
</div>
