<!-- LIGHT BOX -->
<div class="container">
	<div class="row">
		<div ng-show="lightBoxState" class="light-box">
			<button ng-click="lightBoxOff()" class="light-box-close-button">X</button>
			<div class="light-box-content">
				<div class="beer-info-box">
					<h1 class="beer-name">{{lightBox.alias}}</h1>
					<p class="beer-info">{{lightBox.about}}</p>
 				</div>
				<h1 class="user-recipes-header"><span class="user-recipes-bottom-border">User Recipes</span></h1>
				<div class="recipe-box">
					<div ng-repeat="recipe in recipes" class="user-recipe-layout">
							<h3>{{recipe.alias}}</h3>
							<button class="beer-links btn btn-sm btn-default more-info" ng-click="recipeInfo(recipe._id)">More Info</button>
					</div>	
				</div>
			</div>	
		</div>	
	</div>

<!-- SEARCH BAR -->
	<div class="row">
		<div class="recipe-side-nav col-lg-12">
		<div class="global-search-box">
			<input ng-change="Paginate.checkUserQuery(this)"class="global-search-bar" ng-model="userQuery" placeholder="Search Beers"></br>
		</div>
			<div class="pagination-bar">
					<button ng-show="screenSize" class="btn btn-sm btn-default button-color" ng-click="Paginate.moveListBackward(this)">Prev</button>

					<button ng-repeat="page in pagination | limitTo: shownPages : startingElement - 1" class="btn btn-group btn-default button-padding button-color" role="group" ng-class="{'recipe-active-page' : page.state}" ng-click="changePage(page)">{{page.number}}</button>

					<button ng-show="screenSize" class="btn btn-sm btn-default button-color" ng-click="Paginate.moveListForward(this)">Next</button>
				<button ng-click="isLoggedIn()" class="btn btn-default submit-recipe button-color" target="_blank">Submit a Recipe!</button>
			</div>
		</div>	

		<!-- BEER LIST -->		
		<div class="col-lg-12">
			<div  ng-repeat="beer in beerTypes | filter: userQuery | orderBy:'-alias':true | limitTo: beersPerPage : (pageNumber-1) * beersPerPage" ng-click="lightBoxOn(beer)">
				<ul ng-submit="getRecipes(beer)" class="beers ">
					<button ng-click="pass(beer)" class="btn btn-default recipe-layout beer-links button-color"><li>{{beer.alias}}</li></button>
				</ul>
			</div>
		</div>
	</div>
</div>
