.login-box{
	/*overflow-x: hidden;*/
	position: relative;
	margin: auto;
	top: 100px;
	width: 600px;
}


.signin-button{
	padding: 5px 35px 5px;
}
.modal-button{
	/*float: left;*/
	padding: 5px 35px 5px;
}
.signin-button:hover{
	color: white;
	background-color: #9A3334;
}


.signup-button{
	float: right;
	padding: 5px 51px 5px;
}

.signup-button:hover{
	color: white;
	background-color: #9A3334;
}

.input-box{
	display: block;
	width: 250px;
	padding: 10px 10px 10px;
	position: relative;
	border: 1px solid lightgray;
	border-radius: 5px;
	top: 2px;
}
@media screen and (min-width: 771px){
	.modal-sm{
		width: 600px;
	}
}

@media screen and (max-width: 770px){
	.login-box{
		width: 160px;
		top: 120px;
	}

	.signup-button{
		float: none;
		padding: 5px 51px 5px;
	}
	.signin-button{
		padding: 5px 35px 5px;
		display: block;
		margin-bottom: 250px;
	}
}

@media screen and (max-width: 450px){
	.input-box{
		width: 200px;
	}
	.login-box{
		top: 50px;
	}
}
@media screen and (max-width: 350px){
	.login-box{
		top: 30px;
	}
}