<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<ul class="nav-list-right-side">
			<form ng-submit="loggingIn()">

				<li class="signin-input-li"><input ng-model="login.email" class="input-box" placeholder="email"></li>

				<li class="signin-input-li"><input ng-model="login.password" type="password" class="input-box" placeholder="password"></li></br>

				<li class="signup-li"><button type="submit" class="btn btn-default btn global-button-color signin-button" placeholder="password">login</button></li></br>

				<li class="signup-li"><a href="/#/signup" class="btn btn-default btn global-button-color signup-button">Sign Up</a></li>
			</form>
				<h5 class="error" ng-show="loginError">{{loginError}}</h5>
		</ul>
		</div>
	</div>
</div>