.login-box{
	/*overflow-x: hidden;*/
	position: relative;
	top: 100px;
	width: 600px;
	left: 15%;
}


.signin-button{
	float: left;
	padding: 5px 35px 5px;
}

.signin-button:hover{
	color: white;
	background-color: #9A3334;
}


.signup-button{
	float: right;
	padding: 5px 51px 5px;
}

.signup-button:hover{
	color: white;
	background-color: #9A3334;
}

.input-box{
	width: 250px;
	padding: 10px 10px 10px;
	position: relative;
	border: 1px solid lightgray;
	border-radius: 5px;
	top: 2px;
}


@media screen and (min-width: 992px){
	.login-box{
		left: 23%;
	}
}
@media screen and (min-width: 1040px){
	.login-box{
			left: 21%;
	}
}
@media screen and (min-width: 1090px){
	.login-box{
			left: 20%;
	}
}
@media screen and (min-width: 1200px){
	.login-box{
		left: 24%;
	}	
}

@media screen and (max-width: 770px){
	.login-box{
		left: 35%;
	}

	.signup-button{
		float: none;
		padding: 5px 51px 5px;
	}
	.signin-button{
		float: none;
		padding: 5px 35px 5px;
		display: block;
		margin-bottom: 50px;
	}
}