#eventMap { 
	top: 140px;
	border: 1px solid gray;
	border-radius: 7px;
	width: 600px;
	height: 400px; 
	opacity: 0.9;
	left: 0%;
}

.map-helper-container{
	position: relative;
	left: 10%;
}


@media screen and (max-width: 445px){
	#eventMap { 
		width: 400px;
		height: 300px; 
	}
}
@media screen and (max-width: 250px){
	#eventMap { 
		width: 200px;
		height: 200px; 
	}
}
