.not-logged-in{
	padding-top: 100px;
}
.delete-button{
	cursor: pointer;
}
.recipe-header{
	left: 0px;
}
.user-recipes{
	left: 0px;
	margin: 0 auto;
	padding: 10px;
	top: 50px;
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 200px;
	height: 700px;
}