.not-logged-in{
	padding-top: 100px;
}
.delete-button{
	cursor: pointer;
}
.recipe-header{
	top: 100px;
	left: 0px;
	width: 210px;
}
.user-recipes{
	left: 0px;
	margin: 0;
	padding: 10px;
	border: 1px solid lightgray;
	border-radius: 5px;
	width: 210px;
	height: 700px;
}