*{
	box-sizing: border-box;
}

html, body{height: 100%;}

.wrap{min-height: 100%;}
/*===============
	body
 ===============*/
.body{
	background-color: #ffffff;
	color: #2B2B2B;
	margin:0; 
	font-size: 14px;
}
.main{
	overflow: auto;
	overflow-y: hidden;
	padding-bottom: 60px;
}
.error{
	color: red;
}

/*===============
 	GLOBAL PAGE LAYOUT
 ===============*/
.global-page-layout{
	padding: 70px 0px 0px;
}

/*===============
 	NAVIGATION
 ===============*/
/*LEFT NAV*/
.nav-bar{
	top: 0px;
	position: relative;
	background-color: #611B19;
	margin: 0px;
	width: 100%;
	height: 60px;
	left: 0%;
	z-index: 100;
}
 
.nav-list{
	margin: 0;
	padding: 0px;
	float: none;
}

.nav-list-items{
	margin-top: 12px;
	text-align: center;
	width: 10%;
	padding: 5px 0px 5px 0px;
	display: inline-block;
	float: left;
	background-size: 1%;
	background-position: right bottom;
}

.nav-list-item-underline{
	height: 3px;
	width: 0%;
	background-color: white;
	-webkit-transition: width .5s;
	transition: width .5s;
}

.nav-links{
	text-decoration: none;
 	color: white;
 	border: none;
}
.nav-links:focus{
	color: white;
}

.nav-list-items:hover{
	color: white;
}


.nav-list-items:hover .nav-list-item-underline{
	width: 100%;
}

/*NAV LIST RIGHT*/
.nav-list-right-side{
	margin: 0px 50px 0px 0px;
	padding: 0px 0px 0px 0px;
	float: right;
}

.nav-list-items-right{
	margin: 12px 0px 0px 20px;
	padding: 5px 0px 5px 0px;
	display: inline-block;
}

.nav-list-signup-item{
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
	display: inline-block;
}


/*============================
	RIGHT NAV BAR
=============================*/
.right-nav-bar{
	top: 0px;
	position: fixed;
	background-color: #611B19;
	margin: 0px;
	height: 50px;
	right: 0%;
	z-index: 100;
}
.right-nav-list{
	left: 90%;
}


/*===============
	LOGO
================*/
.logo{
	display: inline-block;	
	width: 10%;
	width: 50px;
	height: 50px;
}
.home-img{
	display: inline-block;
	width: 10%;
	width: 35px;
	height: 35px;
}
.home-button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.home-item{
	margin: 0px 20px 0px 35px;
	padding: 5px 0px 0px 0px;
	display: inline-block;
}

.nav-list-logo{
	margin: 0px 0px 0px 0px;
	text-align: center;
	width: 10%;
	padding: 5px 0px 5px 0px;
	display: inline-block;
	float: left;
}

/*======================
	FOOTER
========================*/
.footer{
	position: relative;
	margin-top: -60px;
	height: 60px;
	clear: both;
	width: 100%;
	background-color: #611B19;
	z-index: 900; 
}

.footer-info{
	position: relative;
	top: 21px;
	margin: 0% 0% 0% 5%;
	left: 50px;
	color: white;
}

.footer-info:hover{
	color: white;
}

.footer-info:focus{
	color: white;
}

.footer-logo{
	position: absolute;
	margin: 5px 20px 0px;
	right: 10px;
}


.global-button-color{
	position: relative;
	top: 1px;
	background: #611B19;
	color: white;
}

.global-button-color:hover{
	background: #611B19;
	color: white;	
}

.global-button-color:focus{
	background: #611B19;
	color: white;	
	border: 1px solid white;
}

.global-button-color:active{
	background-color: #611B19;
	color: white;	
	border: 1px solid white;
}

.input-box{
	position: relative;
	border: 1px solid lightgray;
	border-radius: 5px;
	top: 2px;
}


/*====================
	GLOBAL SEARCH BOX
====================*/
.global-search-box{
	width: 300px;
	position: relative;
	height: 100px;
	left: 1%;
}
.global-search-bar{
	position: absolute;
	top: 8px;
	width: 300px;
	display: block;
	margin-bottom: 20px;
	color: lightgray;
	outline: none;
	box-shadow: none;
	border: 2px solid lightgray;
	border-radius: 25px;
	padding: 0px 5px 0px 20px;
	height: 30px;
}

/*==================
MAPS STUFF
===================*/
.global-maps-list{
	position: relative;
	list-style: none;
	padding: 0px;
	top: 15px;
	z-index: 2;
	width: 100%;
	margin-left: 0px;
}

.global-maps-buttons{
	border: none;
	background-color: transparent;
	padding: 7px;
	margin-right: 10px;
}

.global-maps-list-items{
	position: relative;
	display: inline-block;
	z-index: 3;
}

.active-global-maps-list-items{
	position: relative;
	top: 5px;
	border-bottom: 1px solid gray;
}
.active-global-maps-list-items li{
	position: relative;
	bottom: 5px;
}

/*======================
	BEER-EQUIPMENT-AND-EVENT-BOX
=========================*/

.global-beer-box{
	position: relative;
	margin-bottom: 20px;
	padding-top: 30px;
	height: 100%;
	width: 100%;
	z-index: 1;
}


/*===================
 MEDIA QUERIES
 ===================*/

@media screen and (max-width: 1070px){
	.nav-bar{
		font-size: 14px;
	}
	.nav-list-right-side{
		margin: 0px 30px 0px 0px;
	}
}

@media screen and (max-width: 917px){	
	/*================
	NAV BAR INFORMATION
	=================*/
	.nav-list-items:hover .nav-list-item-underline{
		width: 0%;
	}

	.nav-bar{
		padding-top: 0px;
		position: relative;
		width: 100%;
		top: 0px;
		text-align: center;
		font-size: 15px;
	}
	.nav-list{
		margin: 0px;
	}
	.nav-list-items{
		margin: 0;
		padding: 15px 0px 15px 0px;
		background: #611B19;
		width: 100%;
		position: relative;
		display: block;
		float: none;
		border: none;
		border-bottom: 5px solid black;
	}
	.nav-list-right-side{
		margin: 0;
		padding: 15px 0px 15px 0px;
		background: #611B19;
		width: 100%;
		position: relative;
		display: block;
		float: none;
		border: none;
		border-bottom: 5px solid black;
		line-height: 0px;
	}
	
	.nav-list-items-right{
		margin: 0px 0px 0px 20px;
		padding: 5px 0px 0px 0px;
		display: inline-block;
	}
	.nav-list-logo{
		margin: 0px 0px 0px 0px;
		text-align: center;
		width: 100%;
		padding: 5px 0px 5px 0px;
		display: block;
		float: none;
		border-bottom: 5px solid black;
	}

	.nav-bar.headerless-nav{
		transition: none;
	}

	/*====================
	PAGE-LAYOUT
	=================*/

	.global-page-layout{
		padding: 250px 0px 0px 0px;
	}

}

@media screen and (max-width: 725px){
	.nav-bar{
		font-size: 13px;
	}


@media screen and (max-width: 640px){
	.nav-bar{
		font-size: 12px;
	}

	.footer-info{
		font-size: 10px;
		margin: 0% 0% 0% 2%;
		left: 10px;
	}
}
@media screen and (max-width: 445px){
	.signup-button{
		float: left;
		position: absolute;
		color: #611B19;
		margin: 5px 0px 0px 0px;
		left: 10px;
		top: 88px;
		border: none;
		background-color: white;
		padding: 0px;
	}
	.global-page-layout{
		padding: 270px 0px 0px 0px;
	}
}
@media screen and (max-width: 355px){
	.footer-info{
		font-size: 8px;
	}
	.signup-button{
		top: 90px;
	}
	.global-search-box{
		margin-left: 40px;
	}
}








