*{
	box-sizing: border-box;
}

html, body{height: 100%;}

li{
	list-style-type: none;
}

.wrap{min-height: 100%;}
/*===============
	body 
 ===============*/
.bottom-padding{
	margin-bottom: 40px;
}
.body{
	background-color: #F3EFE0;
	margin:0; 
	font-size: 14px;
}
.background{
	position: absolute;
	top: 50%;
	left: 50%;
	width: 300px;
	height: 300px;
	margin-top: -150px; 
   	margin-left: -150px;
}
.main{
	overflow: auto;
	overflow-y: hidden;
	padding-bottom: 60px;
}
.error{
	color: red;
}
.success{
	color: green;
}

.row{
	animation: fadein .5s;
}

.logo-white{
	display: inline-block;	
	width: 10%;
	width: 50px;
	height: 50px;
}

/*===============
 	NAVIGATION
 ===============*/
 .navbar-default{
 	background-color: #872d2e;
 	border: none;
 }
 
 .home-btn{
	background-color: #872d2e;
	border: none;
}
.navbar-default .navbar-brand {
 	color: white;
 }

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus{
	color: white;
}
.home-btn:hover{

}


.navbar-toggle{
	border: none;
}
.navbar-default .navbar-nav > li > a{
	margin: 0px 2px;
	color: white;
}

.navbar-right{
	margin-right: 5px;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
	background-color: transparent;
}

/*======================
	BUTTONS
========================*/
.button{
	border: solid 1px #ccc;
	border-radius: 5px;
	background-color: white;
	color: black;
	margin: 0px 5px 0px 5px;
	padding: 6px 12px;
}
.button:hover{
	background-color: rgba(135, 45, 46, .9);
}

.button-padding{

}

/*======================
	FOOTER
========================*/
.footer{
	position: relative;
	margin-top: -60px;
	height: 60px;
	clear: both;
	width: 100%;
	background-color: #872d2e;
	z-index: 900; 
}

.footer-info{
	position: relative;
	top: 21px;
	margin: 0% 0% 0% 5%;
	left: 50px;
	color: white;
}

.footer-info:hover{
	color: white;
}

.footer-info:focus{
	color: white;
}

.footer-logo{
	position: absolute;
	margin: 5px 20px 0px;
	right: 10px;
}


.global-button-color{
	position: relative;
	top: 1px;
	background: #872d2e;
	color: white;
}

.global-button-color:hover{
	background: #872d2e;
	color: white;	
}

.global-button-color:focus{
	background: #872d2e;
	color: white;	
	border: 1px solid white;
}

.global-button-color:active{
	background-color: #872d2e;
	color: white;	
	border: 1px solid white;
}

.close-btn{
	margin: 10px 10px 0px 0px;
	float: right;
}
/*====================
	GLOBAL SEARCH BOX
====================*/
.search-box{
	width: 300px;
	position: relative;
	height: 100px;
	left: 1%;
}
.search-bar{
	position: absolute;
	top: 8px;
	width: 300px;
	display: block;
	margin-bottom: 20px;
	color: lightgray;
	outline: none;
	box-shadow: none;
	border: 2px solid lightgray;
	border-radius: 25px;
	padding: 0px 5px 0px 20px;
	height: 30px;
}

/*======================
	BEER-EQUIPMENT-AND-EVENT-BOX
=========================*/

.global-beer-box{
	position: relative;
	margin-bottom: 20px;
	padding-top: 30px;
	height: 100%;
	width: 100%;
	z-index: 1;
}


/*===================
 MEDIA QUERIES
 ===================*/
@media screen and (min-width: 768px){
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus{
		padding-bottom: 5px;
		color: white;
		border-bottom: 1px solid white;
	}
}

@media screen and (max-width: 1070px){
	.nav-bar{
		font-size: 14px;
	}
	.nav-list-right-side{
		margin: 0px 30px 0px 0px;
	}
}

@media screen and (max-width: 917px){	
	/*================
	NAV BAR INFORMATION
	=================*/

	.nav-list-items:hover .nav-list-item-underline{
		width: 0%;
	}
}

@media screen and (max-width: 800px){
	.logout{
		margin-right: 5px;
	}
}
@media screen and (max-width: 770px){
	.background{
		width: 200px;
		height: 200px;
		margin-top: -100px; 
   		margin-left: -100px;
	}

}
@media screen and (max-width: 640px){
	.footer-info{
		font-size: 10px;
		margin: 0% 0% 0% 2%;
		left: 10px;
	}

}
@media screen and (max-width: 360px){
	.footer-info{
		font-size: 8px;
	}
	.bottom-padding{
		margin-bottom: 90px;
	}
	
	.nav-list-items{
		width: 15%;
	}
	
	.global-search-box{
		margin-left: 40px;
	}

}



@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}








