<!DOCTYPE html>
<html ng-app="indexModule">

<head>
	<meta charset="utf-8">
	<title>A safe haven for Colorado craft brewers</title>

	<!-- PULLED FROM WEB -->
	<script src ="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js" type="text/javascript"></script>
	<script src ="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js" type="text/javascript"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap-tpls.min.js"></script>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.css">
	<!-- GLOBAL -->
	<link rel="stylesheet" href="../Global/normalize.css"/>
	<link rel="stylesheet" href="../Global/GlobalLayout.css"/>
	
	<!-- LOCAL 404 -->
	<link rel="stylesheet" type="text/css" href="/404/404.css">

	<!-- LOCAL FORUM -->
	<link rel="stylesheet" type="text/css" href="/Forum/Forum.css">

	<!-- LOCAL HOME -->
	<link rel="stylesheet" type="text/css" href="/Home/Home.css">

	<!-- LOCAL RECIPESUBMISSION -->
	<link rel="stylesheet" type="text/css" href="/Recipe-Submission/RecipeSubmission.css">

	<!-- LOCAL RECIPES -->
	<link rel="stylesheet" type="text/css" href="/Recipes/Recipes.css">

	<!-- LOCAL SIGNUP -->
	<link rel="stylesheet" type="text/css" href="/Signup/Signup.css">

	<!-- LOCAL THEBASICS -->
	<link rel="stylesheet" type="text/css" href="/The-Basics/TheBasics.css">

	<!-- LOCAL USERPROFILE -->
	<link rel="stylesheet" type="text/css" href="/User-Profile/UserProfile.css">
</head>

<body ng-controller="bodyController as body" ng-class="{'night-time-mode-body': body.nightMode}" class="body">
		<!-- NAV BAR -->
	<div ng-controller="navController" class="nav-bar">
		<ul class="nav-list">
			<a class="nav-links" href="/#/"><li class="nav-list-logo"><img class="BYB-logo" src="../Prototype.png"></li></a>
			<a class="nav-links" href="/#/thebasics"><li class="nav-list-items">The Basics</li></a>
			<a class="nav-links" href="/#/recipes"><li class="nav-list-items">Recipes</li></a>
			<a class="nav-links" href="/#/forums"><li class="nav-list-items">Forums</li></a>
		</ul>
		<ul class="nav-list-right-side">
			<form ng-submit="loggingIn()">
				<li ng-hide="user" class="nav-list-items-right"><input ng-model="login.email" class="" placeholder="email"></li>
				<li ng-hide="user" class="nav-list-items-right"><input ng-model="login.password" type="password" class="" placeholder="password"></li>
				<li ng-hide="user" class="nav-list-items-right"><input type="submit" class="" placeholder="password"></li>
			</form>
				<h5 ng-show="loginError">{{loginError}}</h5>
				<li ng-hide="user" class="nav-list-signup-item"><a href="/#/signup" class="global-signup-button">sign up</a></li>
				<li ng-show="user" class="nav-list-items-right"><button ng-click=""><img class="home-img"src="../home.png"></button></li>
				<li ng-show="user" class="nav-list-items-right"><a href="/auth/logout">logout</a></li>
		</ul>

	</div>

	<div ng-view></div>

	<!-- GLOBAL -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDD-QBAroiKyXO6TdT1XiZZ898OTt2BONY"></script>
    <script src="../Global/AngularGlobal.js" type="text/javascript"></script>
    <script src="../Global/JavaScriptGlobal.js" type="text/javascript"></script>
    <script src="../Global/FactoryHolder.js" type="text/javascript"></script>

    <!-- LOCAL FORUM -->
	<script src="/Forum/ForumAngular.js" type="text/javascript"></script>
	<script src="/Forum/Forum.js" type="text/javascript"></script>

	<!-- LOCAL HOME -->
	<script src="/Home/HomeAngular.js" type="text/javascript"></script>
	<script src="Home/Home.js" type="text/javascript"></script>

	<!-- LOCAL RECIPESUBMISSION -->
	<script src="../Recipes/RecipesAngular.js" type="text/javascript"></script>
	<script src="../Recipes/Recipes.js" type="text/javascript"></script>

	<!-- LOCAL RECIPES -->
	<script src="/Recipes/Recipes.js" type="text/javascript"></script>
	<script src="/Recipes/RecipesAngular.js" type="text/javascript"></script>

	<!-- LOCAL SIGNUP -->
	<script src="/Signup/Signup.js" type="text/javascript"></script>
	<script src="/Signup/SignupAngular.js" type="text/javascript"></script>
	
	<!-- LOCAL THEBASICS -->
	<script src="/The-Basics/TheBasicsAngular.js" type="text/javascript"></script>
	<script src="/The-Basics/TheBasics.js" type="text/javascript"></script>

	<!-- LOCAL USERPROFILE -->
	<script src="/User-Profile/UserProfile.js" type="text/javascript"></script>
	<script src="/User-Profile/UserProfileAngular.js" type="text/javascript"></script>

</body>

</html>