<div class="container">
	<div class="row">
		<div class="col-xs-12" ng-show="user">
			<h2 class="recipe-header">Your Recipes</h2>
			<div class="user-recipes">
				<div ng-repeat="recipe in userRecipes">		
					<h3 class="recipe-name">{{recipe.alias}}</h3>
					<h4><u>Style</u></h4>
					<p>{{recipe.selectedCategory}}</p>
					<a href="/#/changerecipe/{{recipe._id}}">Edit</a>
					<a class="delete-button" ng-click="deleteRecipe(recipe)">Delete</a>
					<button ng-click="recipeInfo(recipe)" class="recipe-info-button">more info</button>
					</div>
					<p ng-hide="hasRecipes">You don't have any recipes</p>
			</div>
			
			<div class="user-favorite-recipes">
				
			</div>
		</div>	
	</div>
</div>