.user-info-buttons{
	width: 120px;
	border-radius: 0px;
}

.no-bottom{
	border-bottom: none;
}

.not-logged-in{
	padding-top: 100px;
}
.side-bar-col{
	padding-left: 2px;
}
.user-side-bar{
	float: left;
}
.delete-button{
	cursor: pointer;
}
.recipe-header{
	top: 100px;
	left: 0px;
	width: 210px;
}
.user-recipes-layout{
	display: inline-block;
	width: 25%;
	margin: 3% 3%;
	overflow: scroll;
}
.recipe-info-button{
	position: relative;
	padding: 0px;
	margin: 0px;
	background:none;
	border:none;
	width: 72px;
	font-size:1em;
	color: #337AB7;
	height: 20px;
}
.recipe-info-button:hover{
	 color: #23527c;
	 border-bottom: 1px solid #23527c;

}
.global-page-layout{
	padding: 0px 0px 0px;
}

@media screen and (min-width: 1200px){
	.recipes-font{
		font-size: 15px;
	}
}


@media screen and (max-width: 992px){
	.user-recipes-layout{
		width: 38%;
		margin: 6% 6%;
	}
}
@media screen and (max-width: 767px){
	.no-bottom{
		border: 1px solid #CCCCCC;
	}
}
@media screen and (max-width: 640px){
		.user-info-buttons{
			font-size: 10px;
			width: 72px;
		}
}
@media screen and (max-width: 400px){
		.user-info-buttons{
			padding-left: 5px;
			font-size: 7px;
			width: 50px;
		}
}