<div class="container-fluid">
	<div class="row">
		<div class="col-xs-12 col-sm-2 side-bar-col">
			<div class="user-side-bar">
				<h5>{{user.username}}</h5></br>
					<button ng-click="changeActiveButton(0)" class="btn btn-default user-info-buttons no-bottom button-color">My Recipes</button>
					<button ng-click="changeActiveButton(1)" class="btn btn-default user-info-buttons no-bottom button-color">Favorites</button>
					<button ng-click="changeActiveButton(2)" class="btn btn-default user-info-buttons no-bottom button-color">Comments</button>
					<button ng-click="changeActiveButton(3)" class="btn btn-default user-info-buttons button-color">Posts</button>
					<h4><u>FriendsList</u></h4>
					<div class="friendsList">
						
					</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-10">
			<div ng-show="buttonArray[0]"id="My-Recipes" >
				<h1>My Recipes</h1>
				<div ng-repeat="recipe in userRecipes" class="user-recipes-layout">		
					<div class="recipes-font">
						<h3 class="recipe-name">{{recipe.alias}}</h3>
						<h4><u>Style</u></h4>
						<p>{{recipe.selectedCategory}}</p>
						<a href="/#/changerecipe/{{recipe._id}}">Edit</a>
						<a class="delete-button" ng-click="deleteRecipe(recipe)">Delete</a>
						<button ng-click="recipeInfo(recipe._id)" class="recipe-info-button">more info</button>
					</div>
				</div>
					<p ng-hide="hasRecipes">You don't have any recipes</p>
			</div>
			<div ng-show="buttonArray[1]" id="user-favorite-recipes">
				<h1>Favorite Recipes</h1>
			</div>
			<div ng-show="buttonArray[2]" id="user-comments-list">
				<h1>Comments</h1>
			</div>
			<div <div ng-show="buttonArray[3]" id="user-posts-list">
				<h1>Forum Posts </h1>
			</div>
		</div>	
	</div>
</div>