<div ng-class="{'turn-off-scroll' : lightBoxState}" class="container">
	<div class="row">
		<div class="col-lg-12">
			<form ng-hide="signedUp" ng-submit="createUser()">
				<input ng-model="signup.username" placeholder="User Name">
				<input ng-model="signup.email" placeholder="Email">
				<input ng-model="signup.password" type="password" placeholder="Password">
				<input type="submit">
			</form>
			<p class="red-text" ng-hide="signedUp">{{err}}</p>
			<p class="success" ng-show="signedUp">Success!</p>
		</div>
	</div>
</div>